// Quasar SCSS (& Sass) Variables

$primary: #570e57;
$secondary: #1158bcbd;
$accent: #09022e;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
